---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"blog">;

const post = Astro.props;
---

<a
	href={`/blog/${post.slug}/`}
	class="flex flex-col gap-6 rounded-lg border p-6 hover:bg-gray-50 sm:flex-row"
>
	<img
		height={300}
		src={post.data.heroImage}
		alt=""
		class="max-h-72 w-full rounded-md object-cover sm:hidden"
		loading="lazy"
	/>

	<div class="space-y-2 sm:flex-1">
		<h4 class="font-semibold">
			{post.data.title}
		</h4>

		<p class="text-muted-foreground">
			<FormattedDate date={post.data.pubDate} />
		</p>
	</div>

	<img
		src={post.data.heroImage}
		height={80}
		width={80}
		alt=""
		class="hidden aspect-square rounded-md object-cover sm:block"
		loading="lazy"
	/>
</a>
