---
import type { CollectionEntry } from "astro:content";
import DynamicImage from "./DynamicImage.astro";
import FormattedDate from "./FormattedDate.astro";

type Props = CollectionEntry<"blog">;

const {
	slug,
	data: { title, hero, pubDate },
} = Astro.props;
---

<a
	href={`/blog/${slug}/`}
	class="flex flex-col gap-6 rounded-lg border p-6 hover:bg-gray-50 sm:flex-row-reverse"
>
	{
		hero && (
			<DynamicImage
				transition:name={`post-image-${slug}`}
				src={hero.src}
				alt={hero.alt}
				class="aspect-video rounded-md object-cover sm:aspect-square sm:h-20 sm:w-20"
				loading="eager"
			/>
		)
	}

	<div class="space-y-2 sm:flex-1">
		<h3 class="font-semibold" transition:name={`post-title-${slug}`}>
			{title}
		</h3>

		<p class="text-muted-foreground">
			<FormattedDate date={pubDate} />
		</p>
	</div>
</a>
