---
import PostMetaData from "@/components/PostMetaData.astro";
import { SITE_TITLE } from "@/consts";
import { formatList } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const post = Astro.props;
---

<BaseLayout
	title={`${post.title} | ${SITE_TITLE}`}
	description={post.description}
	author={formatList({ list: post.authors })}
>
	<article class="space-y-20 py-20">
		<section class="space-y-20">
			<div class="space-y-4 sm:text-center">
				<p class="text-muted-foreground">Artículo</p>

				<h1 class="text-4xl font-bold">{post.title}</h1>
			</div>

			<PostMetaData {...post} />

			{
				post.heroImage && (
					<img
						width={1020}
						height={510}
						src={post.heroImage}
						alt=""
						class="max-h-72 rounded-md object-cover"
					/>
				)
			}
		</section>

		<div class="article-content">
			<slot />
		</div>
	</article>
</BaseLayout>
