---
import DynamicImage from "@/components/DynamicImage.astro";
import PostMetaData from "@/components/PostMetaData.astro";
import { SITE_TITLE } from "@/consts";
import { formatList } from "@/lib/utils";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { slug, ...post } = Astro.props;
---

<BaseLayout
	title={`${post.title} | ${SITE_TITLE}`}
	description={post.description}
	author={formatList({ list: post.authors })}
>
	<article class="space-y-20 py-20">
		<section class="space-y-20">
			<div class="space-y-4 sm:text-center">
				<p class="text-muted-foreground">Artículo</p>

				<h1 class="text-4xl font-bold" transition:name={`post-title-${slug}`}>
					{post.title}
				</h1>
			</div>

			<PostMetaData {...post} />

			{
				post.hero && (
					<DynamicImage
						src={post.hero.src}
						alt={post.hero.alt}
						class="rounded-md"
						transition:name={`post-image-${slug}`}
						loading="eager"
					/>
					// <Image
					// 	transition:name={`post-image-${slug}`}
					// 	width={post.hero.width}
					// 	height={post.hero.height}
					// 	src={post.hero.src}
					// 	alt={post.hero.alt}
					// 	class="max-h-72 rounded-md object-cover"
					// 	loading="eager"
					// />
				)
			}
		</section>

		<div class="article-content">
			<slot />
		</div>
	</article>
</BaseLayout>
